.settings-page {
  .settingsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    h1 {
      margin-top: 50px;
    }
    .settingsWrapper {
      display: flex;
      flex-direction: row;
      background: #f5f7f6;
      padding: 20px 50px;
      border-radius: 25px;
      gap: 20px;
      .left_section {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .setting {
          display: flex;
          gap: 10px;
          align-items: center;
          font-size: 17px;
          padding: 10px 20px;
          background: white;
          width: 230px;
          border-radius: 25px;
          margin: 0;
          &:hover {
            cursor: pointer;
            background-color: #759bd3;
            // color: white;
          }
          img {
            height: 30px;
          }
        }
      }
      .left_section {
        display: flex;
        justify-content: center;
        .user_block_delete {
          min-width: 30vw;
          background: white;
          border-radius: 25px;
          .user_title {
            text-align: center;
            padding-bottom: 15px;
            border-bottom: rgb(241, 241, 241) 2px solid;
          }
          .deactivate_account_section {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            .user_deactivate_title {
              text-align: center;
              padding-bottom: 5px;
              margin: 0;
              border-bottom: rgb(241, 241, 241) 2px solid;
            }
            .deactivate_btn {
              background-color: #992727;
              border: none;
              border-radius: 20px;
              padding: 10px 25px;
              color: white;
              letter-spacing: 1px;
              font-size: 15px;
              outline: none;
            }
          }
          .delete_account_section {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            .user_delete_title {
              text-align: center;
              padding-bottom: 5px;
              margin: 0;
              border-bottom: rgb(241, 241, 241) 2px solid;
            }
            .delete_btn {
              background-color: #992727;
              border: none;
              border-radius: 20px;
              padding: 10px 25px;
              color: white;
              letter-spacing: 1px;
              font-size: 15px;
              outline: none;
            }
          }
        }
      }
    }
  }
}
// .right {
//   width: 25%;
//   margin-top: 320px;
// }
// .logout_popup {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   text-align: center;
//   gap: 10px;
//   p {
//     margin: 0;
//   }
//   h3 {
//     margin: 0;
//   }
//   .confirm_btn {
//     display: flex;
//     flex-direction: row;
//     gap: 5px;
//     align-items: center;
//     justify-content: center;
//     .cancel-button {
//       background-color: #759bd3;
//       border: none;
//       border-radius: 20px;
//       padding: 10px 25px;
//       color: white;
//       letter-spacing: 1px;
//       font-size: 15px;
//       outline: none;
//     }
//     .Logout-button {
//       background-color: #992727;
//       border: none;
//       border-radius: 20px;
//       padding: 10px 25px;
//       color: white;
//       letter-spacing: 1px;
//       font-size: 15px;
//       outline: none;
//     }
//   }
// }
