.custom-modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-overlay {
    position: absolute;
    background: #000;
    height: 100vh;
    width: 100%;
    opacity: 0.4;
    z-index: -10;
    top: 0;
    margin: 0;
  }

  .container {
    height: auto;
    margin: 20px;
    background-color: #fff;
    border-radius: 25px;
    padding: 20px 40px;
    position: absolute;

    .modal-title {
      text-align: center;
      padding-bottom: 15px;
      border-bottom: rgb(241, 241, 241) 2px solid;
    }
  }
}
