.adminSearch {
    display: flex;
    flex-direction: column;
    // align-items: center;
    width: 700px;
    justify-content: center;
    .heading {
        display: flex;
        align-items: center;
        // justify-content: center;
        gap: 100px;
        margin: 20px 0px;
        .title {
            display: flex;
            flex-direction: column;
            gap: 10px;
            h1 {
                margin: 0;
                letter-spacing: 1px;
            }
            h3 {
                margin: 0;
                font-weight: 400;
                letter-spacing: 1px;
            }
        }
        .notifs {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            text-align: center;
            img {
                height: 30px;
            }
            button {
                padding: 10px 30px;
                font-size: 18px;
                color: white;
                font-weight: 500;
                letter-spacing: 1px;
                border-radius: 25px;
                background: #3290ff;
                border: none;
            }
        }
    }
    .input {
        display: flex;
        gap: 20px;
        width: 400px;
        padding: 10px 40px;
        border-radius: 20px;
        background: #f2f2fd;
        input {
            width: 300px;
            padding: 2px 0px;
            font-size: 16px;
            outline: none;
            border: none;
            background-color: #f2f2fd;
        }
    }
}
