.sign-up-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;

  .warning-message {
    margin: 0;
    color: red;
    font-size: 12px;
    width: 100%;
  }

  .signinpage {
    display: flex;
    position: relative;
    background-color: white;

    & > .backButton {
      top: 20px;
      left: 20px;
    }

    .signupblue {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 300px;
      justify-content: center;
      border: none;
      padding: 20px 80px;
      border-radius: 10px;
      height: 500px;
      box-shadow: 1px 2px 5px #868686;
      background-color: #cddded;

      .bluecontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .signinToggle {
          display: none;
        }

        h1 {
          margin-bottom: 0;
          color: black;
        }

        p {
          // width: 70%;
          text-align: center;
          color: #646464;
        }

        button {
          background-color: #87ceeb;
          padding: 10px 30px;
          border: none;
          border-radius: 10px;
          font-weight: 600;
          letter-spacing: 1px;
          font-size: 16px;

          &:hover {
            cursor: pointer;
            box-shadow: 0px 0px 5px 1px #1a7fe3;
          }
        }
      }
    }

    .signup {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 300px;
      justify-content: center;
      border: none;
      padding: 20px 80px;
      border-radius: 10px;
      height: 500px;
      box-shadow: 1px 2px 5px #868686;

      .signupToggle {
        display: none;
      }

      .signupButtons {
        display: flex;
        // flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;

        img {
          height: 60px;
        }

        button {
          margin-top: 0;
          padding: 10px 30px;
          background-color: #4267b2;
          color: white;
          border-radius: 50px;
        }
      }

      .or {
        // margin-bottom: 30px;
        display: flex;
        width: 80%;
        align-items: center;
        // gap: 30px;
        justify-content: space-evenly;

        hr {
          flex-grow: 1;
        }

        p {
          color: #868686;
          margin: 10px;
        }
      }

      .inputs {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 80%;
        align-items: center;
        align-items: center;
        input {
          border-radius: 10px;
          height: 25px;
          width: 100%;
          padding: 10px 30px;
          outline: none;
          border: none;
          background-color: #ebebeb;
          letter-spacing: 1px;
          // color: #868686;
          font-weight: 400;
          font-size: 15px;
        }
      }

      .forgot-password-container {
        p {
          font-size: 14px;
          margin: 5px 0;
        }
      }

      button {
        background-color: #87ceeb;
        padding: 10px 30px;
        border: none;
        border-radius: 10px;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 16px;
        margin: 10px 0;
        &:hover {
          cursor: pointer;
          box-shadow: 0px 0px 5px 1px #1a7fe3;
        }
      }

      a {
        color: #868686;
        font-size: 12px;

        &:hover {
          cursor: pointer;
        }
      }

      .warning-message {
        color: red;
        font-size: 14px;
      }
    }
  }

  .companyDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;

    .signup {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 300px;
      justify-content: center;
      border: none;
      padding: 20px 80px;
      border-radius: 10px;
      height: 500px;
      box-shadow: 1px 2px 5px #868686;
      background-color: #cddded;
      gap: 10px;

      .backButton {
        top: 20px;
        left: 20px;
      }

      h2 {
        text-align: center;
      }

      .inputs {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 80%;
        align-items: center;

        input,
        textarea {
          border-radius: 10px;
          height: 25px;
          width: 100%;
          padding: 10px 30px;
          outline: none;
          border: none;
          background-color: #ebebeb;
          letter-spacing: 1px;
          // color: #868686;                ;
          font-weight: 200;
          font-size: 15px;
        }

        textarea {
          height: 100px;
        }

        .tag {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 300px;
          gap: 10px;

          button {
            margin-top: 0;
          }
        }
      }

      button {
        background-color: #87ceeb;
        padding: 10px 30px;
        border: none;
        border-radius: 10px;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 16px;

        // margin-top: 30px;
        &:hover {
          cursor: pointer;
          box-shadow: 0px 0px 5px 1px #1a7fe3;
        }
      }

      a {
        color: #868686;
        font-size: 12px;

        &:hover {
          cursor: pointer;
        }
      }

      .upload {
        display: flex;
        gap: 10px;

        span {
          font-weight: 600;
          font-size: 30px;
        }

        img {
          height: 20px;
        }
      }

      .imageupload {
        margin-top: 30px;
        margin-left: 80px;
        font-family: "Poppins", sans-serif;
      }
    }

    .white {
      background-color: #fff;
    }
  }

  .location {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;

    .signup {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 300px;
      justify-content: center;
      border: none;
      padding: 20px 80px;
      border-radius: 10px;
      height: 500px;
      box-shadow: 1px 2px 5px #868686;
      background-color: #cddded;

      // gap: 10px;
      .inputs {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 80%;
        align-items: center;
        align-items: center;
        margin-bottom: 20px;

        .pin {
          display: flex;
          align-items: center;
          gap: 10px;

          input {
            width: 90px;
          }
        }

        input {
          border-radius: 10px;
          height: 25px;
          width: 100%;
          padding: 10px 30px;
          outline: none;
          border: none;
          background-color: #ebebeb;
          letter-spacing: 1px;
          // color: #868686;                ;
          font-weight: 200;
          font-size: 15px;
        }

        textarea {
          height: 100px;
        }
      }

      button {
        background-color: #87ceeb;
        padding: 10px 30px;
        border: none;
        border-radius: 10px;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 16px;
        margin-top: 30px;

        &:hover {
          cursor: pointer;
          box-shadow: 0px 0px 5px 1px #1a7fe3;
        }
      }

      p {
        margin: 0;
      }

      a {
        color: #868686;
        font-size: 12px;

        &:hover {
          cursor: pointer;
        }
      }

      .upload {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        span {
          font-weight: 600;
          font-size: 30px;
        }

        p {
          text-align: center;
          width: 100%;
          color: #646464;
        }

        .imageupload {
          margin-top: 30px;
          margin-left: 80px;
          font-family: "Poppins", sans-serif;
        }
      }
    }

    .white {
      background-color: #fff;
    }
  }

  .stakeholderCategory {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 2px 5px #868686;
    background-color: #cddded;
    padding: 20px 80px;
    justify-content: center;
    align-content: center;
    height: 500px;
    border-radius: 25px;

    .backButton {
      top: 20px;
      left: 20px;
    }

    h1 {
      margin-bottom: 30px;
    }

    .stakeholderContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;

      .otherInput {
        border-radius: 10px;
        height: 25px;
        width: 74%;
        padding: 20px 30px;
        outline: none;
        border: none;
        background-color: #ebebeb;
        letter-spacing: 1px;
        // color: #868686;                ;
        font-weight: 100;
        font-size: 15px;
      }

      .dropdown {
        border-radius: 10px;
        // height: 25px;
        outline: none;
        width: 90%;
        padding: 20px 30px;
        outline: none;
        border: none;
        background-color: #ebebeb;
        letter-spacing: 1px;
        // color: #868686;                ;
        font-weight: 100;
        font-size: 15px;
      }

      button {
        background-color: #87ceeb;
        padding: 10px 30px;
        border: none;
        border-radius: 10px;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 16px;
        margin-top: 30px;

        &:hover {
          cursor: pointer;
          box-shadow: 0px 0px 5px 1px #1a7fe3;
        }
      }
    }
  }

  .tagsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      height: 350px;
      width: 600px;
    }

    .tagsWrapper {
      background-color: #cddded;
      height: 300px;
      width: 600px;
      gap: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 25px;
      padding: 20px;

      h1 {
        text-align: center;
      }

      .tagsInput {
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
          border-radius: 10px;
          height: 25px;
          width: 250px;
          padding: 10px 30px;
          outline: none;
          border: none;
          background-color: #ebebeb;
          letter-spacing: 1px;
          // color: #868686;                ;
          font-weight: 200;
          font-size: 15px;
        }

        .inputs {
          display: flex;
          flex-direction: row;
        }

        .warning-message {
          margin-top: 0;
          color: red;
        }
      }

      button {
        background-color: #87ceeb;
        padding: 10px 30px;
        border: none;
        border-radius: 10px;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 16px;

        &:hover {
          cursor: pointer;
          box-shadow: 0px 0px 5px 1px #1a7fe3;
        }
      }

      .tags {
        display: flex;
        gap: 10px;

        // overflow-x: scroll;
        .tag {
          margin: 0;
          display: flex;
          align-items: center;
          gap: 15px;
          min-width: 50px;
          background: white;
          padding: 5px 20px;
          border-radius: 25px;
          font-size: 15px;

          p {
            margin: 0;
          }

          .x {
            background: #d9def2;
            border-radius: 100%;
            padding: 1px 5px;
            color: red;
            font-size: 10px;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 904px) {
  .container {
    .signinpage {
      .signupblue {
        display: none;

        .bluecontainer {
          .signinToggle {
            display: block;
          }
        }
      }

      .hidden {
        display: none;
      }

      .visible {
        display: flex;
      }

      .signup {
        .signupToggle {
          display: block;
          font-size: 12px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .companyDetails {
      flex-direction: column;
      gap: 10px;
    }

    .location {
      flex-direction: column-reverse;
      gap: 10px;
    }
  }
}

@media (max-width: 376px) {
  .container {
    .signinpage {
      .signupblue {
        width: 200px;
        height: 500px;
      }

      .signup {
        width: 200px;
        height: 500px;
      }
    }
  }
}
