html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
}

body,
#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  position: relative;
  background-color: #d9def2;
}

button,
input,
textarea {
  font-family: "Poppins", sans-serif;
}

button:hover {
  cursor: pointer;
}
p:hover,
h1:hover,
h2:hover,
h3:hover {
  cursor: default;
}

.carousel-root .carousel {
  height: 500px;
  object-fit: contain;
}

/* .slider .animated {
  height: 500px; 
} */

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0.459);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.479);
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  text-decoration: none;
  color: inherit;
}
