body {
  font-family: "Poppins", sans-serif;
  color: #2f2d38;
  overflow-x: hidden;
  margin: 0px;
}

button {
  font-family: "Poppins", sans-serif;
}

.carousel-root .carousel {
  height: 500px;
  object-fit: contain;
}

.slider .animated {
  /* height: 500px; */
}
