html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  position: relative;
}

body,
#root {
  font-family: "Poppins", sans-serif;
  color: #2f2d38;
  overflow-x: hidden;
  margin: 0px;
  position: relative;
  min-height: 100vh;
  // background-color: #d9def2;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

button,
input,
textarea {
  font-family: "Poppins", sans-serif;
}

button:hover {
  cursor: pointer;
}
p:hover,
h1:hover,
h2:hover,
h3:hover {
  cursor: default;
}

.carousel-root .carousel {
  height: 500px;
  object-fit: contain;
}

/* .slider .animated {
  height: 500px; 
} */

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0.459);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.479);
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  text-decoration: none;
  color: inherit;
}

.text-danger {
  color: red;
}

.fs-12 {
  font-size: 12px;
}

.btn {
  border: none;
  padding: 10px 15px;
  color: white;
  border-radius: 15px;
  margin: 10px;
  &:hover {
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  &:active {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px inset;
  }
  &:disabled {
    opacity: 0.8;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px inset;
  }

  &-light {
    background-color: white;
    color: rgb(128, 128, 128);
  }
}
