.complaints {
  flex-grow: 1;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  .stakeholders {
    display: flex;
    justify-content: space-evenly;
    p {
      font-size: 12px;
      margin: 0;
      background: white;
      padding: 5px;
      border-radius: 25px;
      margin-top: 20px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .complainsContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
