main.private-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: stretch;
  background-color: #d9def2;

  & > .container {
    display: flex;
    gap: 1rem;

    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 768px) {
      max-width: 750px;
    }
    @media (min-width: 992px) {
      max-width: 970px;
    }
    @media (min-width: 1200px) {
      max-width: 1170px;
    }

    @media (min-width: 1400px) {
      max-width: 1370px;
    }

    .profileLeft,
    .homeRight {
      flex: 0 0 20rem;
    }

    & > div:nth-child(2) {
      flex-grow: 1;
    }
  }

  @media (max-width: 820px) {
    .profileLeft,
    .homeRight,
    .search {
      display: none;
    }
  }

  @media (min-width: 821px) {
    nav.protected-navbar {
      display: none;
    }
  }
}
