.add-feedback-form {
  min-width: 30vw;
  .form-label {
    font-size: 15px;
    padding-left: 1px;
    font-family: Poppins;
    padding-top: 10px;
    width: 35%;
  }
  .form-control,
  .form-control-file {
    margin: 10px 20px;
    padding: 5px;
    border: none;
    outline: none;
    background: #f5f7f6;
    border-radius: 5px;
    flex-grow: 1;
    align-items: end;
  }

  .data_input,
  .data_file {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  .footer-buttons {
    display: flex;
    justify-content: end;
    button {
      border: none;
      padding: 10px 15px;
      color: white;
      border-radius: 15px;
      margin: 10px;
      &:hover {
        color: black;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
      &:active {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px inset;
      }
    }

    .cancel-button {
      background-color: #d37580;
    }

    .submit-button {
      background-color: #759bd3;
    }
  }
}
