.chatMessages {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 25px;
  padding: 20px 40px;
  .name {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid #1b63aa;
    img {
      height: 50px;
      width: 50px;
      object-fit: cover;
      border-radius: 100%;
    }

    h3 {
      font-weight: 600;
    }
  }

  .chats {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
  }
  .singleChat {
    gap: 30px;
    display: flex;
    // flex-direction: row;
    width: 100%;
    align-items: start;
    margin-bottom: 10px;
    .imgandtime {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      width: 70px;
      .pfpsmaller {
        height: 40px;
        width: 40px;
        object-fit: cover;
        border-radius: 25px;
      }
      p {
        margin: 0;
        font-size: 10px;
      }
    }
    .messages {
      display: flex;
      flex-direction: column;
      .message {
        width: auto;
        max-width: 250px;
        padding: 0px 15px;
        background: #f5f7fb;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
      }
    }
  }
  .chatright {
    flex-direction: row-reverse;
  }
  .chatleft {
    flex-direction: row;
  }
  .reply {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .input {
      display: flex;
      justify-content: space-between;
      padding: 5px 30px;
      border-radius: 30px;
      align-items: center;
      background: #f5f7fb;
      width: 100%;
      .inputContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-grow: 1;

        input {
          border: none;
          outline: none;
          height: 50px;
          background: #f5f7fb;
          font-size: 18px;
          flex-grow: 1;
        }
      }
    }
    .send {
      height: 50px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
