.giveScore {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    // height: 100%;
    // width: 100%;
    position: fixed;
    .blackbg {
        // position: absolute;
        background: #000;
        height: 100vh;
        width: 100%;
        opacity: 0.2;
        z-index: -10;
        top: 0;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        .wrapper {
            background-color: #fff;
            border-radius: 25px;
            padding: 20px 60px;
            position: absolute;
            top: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            height: 60%;
            width: 40%;
            margin: auto;
            h1 {
                margin: 0;
            }
            .score {
                display: flex;
                align-items: center;
                gap: 20px;
                h5 {
                    margin: 0;
                    background: #d9d9d9;
                    font-size: 20px;
                    border-radius: 100%;
                    padding: 5px 15px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            input,
            textarea {
                padding: 10px 0px;
                border: none;
                outline: none;
                width: 100px;
                background: #f5f7f6;
                border-radius: 5px;
                font-size: 15px;
                text-align: center;
                font-size: 20px;
            }
            textarea {
                padding: 10px;
                width: auto;
                margin-top: 20px;
                font-size: 15px;
                text-align: left;
            }
        }

        button {
            background-color: #759bd3;
            border: none;
            border-radius: 20px;
            padding: 15px 25px;
            color: white;
            letter-spacing: 1px;
            font-size: 15px;
            outline: none;
            &:hover {
                cursor: pointer;
            }
        }
        .cancel {
            background-color: #d37580;
        }
    }
}
