.chat-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh !important;

  .header {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    .title {
      display: flex;
      gap: 10px;
    }

    .back-btn {
      position: absolute;
      left: 10px;
      color: rgb(61, 61, 61);
    }
  }

  .chat-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    height: 80vh;

    .all-chats {
      display: flex;
      flex-direction: column;
      margin-bottom: auto;
      background: rgb(245, 245, 245);
      border-radius: 10px;
      padding: 10px;

      .search {
        display: flex;
        flex-direction: row;
        gap: 30px;
        background: white;
        padding: 10px 50px 10px 20px;
        border-radius: 15px;
        position: relative;
        .searchResults {
          top: 55px;
          left: 0;
          @media (max-width: 820px) {
            width: 100%;
          }
        }
        b img {
          height: 20px;
        }
        input {
          flex-grow: 1;
          border: none;
          outline: none;
        }
      }
      .chatsAll {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 10px;
        border-radius: 25px;
        padding: 20px 20px;
      }
    }
    .single-chat-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 100%;
      min-width: 50vw;
      border: rgb(240, 240, 240) 1px solid;
      border-radius: 10px;

      .chatFiller,
      .chatMessages {
        overflow-y: auto;
        height: inherit;
        width: auto;
      }
    }
  }
  .chatFiller,
  .chatMessages {
    overflow-y: auto;
    height: inherit;
    width: auto;
  }
}

@media (max-width: 820px) {
  .chat-page {
    justify-content: flex-start;
    width: 100%;
    .header {
      .title {
        display: flex;
        gap: 10px;
      }

      .back-btn {
        position: absolute;
        left: 0;
        color: rgb(61, 61, 61);
      }
    }

    .chat-container {
      min-height: 80vh;
      height: auto;
      max-height: 70vh;
      .all-chats {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: auto;
        height: 100%;
        max-width: 100vw;
        width: 100%;

        .chatsAll {
          display: flex;
          flex-direction: column;
          background-color: #f1f1f1;
          flex-grow: 1;
          gap: 10px;
          border-radius: 25px;
          padding: 20px 20px;
          overflow-y: auto;
        }
        .chatFiller,
        .chatMessages {
          overflow-y: auto;
          height: inherit;
          width: auto;
        }
      }
      .single-chat-container {
        display: none;
      }
    }
  }
}
