.chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: #D9DEF2;
    align-items: center;
    .title {
        display: flex;
        gap: 10px
    }
    .container {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        .left {
            display: flex;
            flex-direction: column;
            gap: 35px;
            .search {
                display: flex;
                flex-direction: row;
                gap: 30px;
                background: white;
                padding: 10px 50px;
                height: 30px;
                border-radius: 15px;
                b
                img {
                    height: 20px;

                }
                input {
                    border: none;
                    outline: none;
                }
            }
            .chatsAll {
                display: flex;
                flex-direction: column;
                background-color: #F1F1F1;
                height: 500px;
                gap: 10px;
                border-radius: 25px;
                padding: 20px 20px;
            }
        }
    }
}