.postsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    padding: 40px 50px;
    border-radius: 25px;
    background-color: #F5F7F6;
    gap: 80px;
    height: 1000px;
    overflow-y: scroll;
    overflow-x: hidden;
}