.partnerCard {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .cardItems {
        border-radius: 25px;
        background-color: #444B61;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 50px 50px;
        span {
            color: white;
        }
    }
    .cardTitle {
        display: flex;
        justify-content: center;
        border-radius: 25px;
        align-items: center;
        padding: 20px 30px;
        background-color:  #DDDDDD;
        
        span {
            font-weight: 500;
            font-size: 20px;
        }
    }
}