.create-post {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  padding-top: 0;
  display: flex;
  flex-direction: column;

  .input {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h4 {
      margin: 0;
      font-weight: 500;
      font-size: 14px;
    }

    input,
    textarea,
    select {
      padding: 10px 20px;
      border: none;
      outline: none;
      background: #f5f7f6;
      border-radius: 5px;
      font-size: 15px;
      margin-bottom: 10px;
      .img {
        display: flex;
        align-items: center;
        gap: 10px;
        img {
          height: 30px;
        }
        span {
          font-size: 13px;
        }
      }
    }
  }
  .small-details {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    .input {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      width: 50%;
      h4 {
        width: 30%;
      }
    }
  }
  .buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    button {
      background-color: #759bd3;
      border: none;
      border-radius: 20px;
      padding: 15px 25px;
      color: white;
      letter-spacing: 1px;
      font-size: 15px;
      outline: none;
      &:hover {
        cursor: pointer;
      }
    }
    .cancel {
      background-color: #d37580;
    }
  }
}
