.contactUs {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    // height: 100%;
    // width: 100%;
    position: fixed;
    .blackbg {
        // position: absolute;
        background: #000;
        height: 100vh;
        width: 100%;
        opacity: 0.2;
        z-index: -10;
        top: 0;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        .wrapper {
            background-color: #fff;
            border-radius: 25px;
            padding: 20px 60px;
            position: absolute;
            top: 0;
            display: flex;
            flex-direction: column;
            // gap: 30px;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            height: 85%;
            width: 40%;
            margin: auto;
            h1 {
                margin-bottom: 15px;
            }
            .input {
                display: flex;
                flex-direction: column;
                gap: 10px;
                h2 {
                    margin: 0;
                    font-weight: 600;
                    font-size: 18px;
                    margin-top: 10px;
                }
                input,
                textarea {
                    padding: 10px 20px;
                    border: none;
                    outline: none;
                    background: #f5f7f6;
                    border-radius: 5px;
                    font-size: 15px;
                }
            }
            .buttons {
                margin-top: 20px;
                display: flex;
                gap: 10px;
                button {
                    background-color: #759bd3;
                    border: none;
                    border-radius: 20px;
                    padding: 15px 25px;
                    color: white;
                    letter-spacing: 1px;
                    font-size: 15px;
                    outline: none;
                }
                .cancel {
                    background-color: #d37580;
                }
            }
        }
    }
}
