.contactus-wrapper {
  width: 40vw;

  .inputs-container {
    display: flex;
    flex-direction: column;
    height: 60vh;
    overflow-y: scroll;

    .input {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .checkbox-container {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        background: #f5f7f6;
        border-radius: 5px;
        font-size: 15px;
        padding: 10px 20px;
        label {
          width: 45%;
        }

        input[type="checkbox"] {
          margin: 5px 10px;
        }
      }

      .start-end-dates {
        display: flex;
        gap: 20px;
      }

      h4 {
        font-weight: 400;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 0px;
        padding: 0;
      }
      input,
      textarea,
      select {
        padding: 10px 20px;
        border: none;
        outline: none;
        background: #f5f7f6;
        border-radius: 5px;
        font-size: 15px;
      }
    }
  }
  .footer-buttons {
    display: flex;
    justify-content: end;
    button {
      border: none;
      padding: 10px 15px;
      color: white;
      border-radius: 15px;
      margin: 10px;
      &:hover {
        color: black;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
      &:active {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px inset;
      }
    }

    .cancel-button {
      background-color: #d37580;
    }

    .submit-button {
      background-color: #759bd3;
    }
  }
}
