.rightChat {
    gap: 30px;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    align-items: start;
    .imgandtime {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        .pfpsmaller{
            height: 40px;
            border-radius: 25px;
        }
        p {
            margin: 0;
        }
    }
    .messages {
        display: flex;
        flex-direction: column;
        .message {
            width: 300px;
            background: #F5F7FB;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 15px;
        }
    }
}