.admin-post-container {
  background-color: #fff;
  border-radius: 25px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  .inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    input,
    textarea {
      padding: 10px 20px;
      border: none;
      outline: none;
      background: #f5f7f6;
      border-radius: 5px;
      font-size: 15px;
    }
  }
  .stakeholders {
    display: flex;
    justify-content: space-between;
  }
  .options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    .option {
      display: flex;
      gap: 5px;
      align-items: center;
    }
  }
}
