.collabDetails {
  flex-grow: 1;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  .collabDetailsContainer {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #eef6ff;
    padding: 50px 20px;
    border-radius: 25px;
    gap: 15px;
    .miniCollab {
      min-width: 0px;
      .wrapperTwo {
        min-width: 0px;
        margin-right: 0px;
        align-items: center;
      }
    }
    span,
    h5,
    p {
      margin: 0;
    }

    span {
      font-size: 14px;
    }
    h5 {
      letter-spacing: 0.8px;
    }
    a {
      color: #6a6a6a;
      font-size: 13px;
    }
    .duration {
      font-size: 13px;
      background: #6a6a6a;
      padding: 5px 10px;
      border-radius: 25px;
      color: white;
    }

    .text {
      background: white;
      padding: 20px;
      text-align: center;
      border-radius: 25px;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      .tags {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        p {
          padding: 5px 15px;
          letter-spacing: 0.5px;
          border-radius: 25px;
          font-size: 13px;
          background: #f0f2f5;
          color: #6a6a6a;
        }
      }
      .actualText {
        width: 80%;
      }
    }
    .buttons {
      display: flex;
      gap: 20px;
      button {
        background-color: #759bd3;
        border: none;
        border-radius: 20px;
        padding: 10px 25px;
        color: white;
        letter-spacing: 1px;
        font-size: 15px;
        outline: none;
        &:hover {
          cursor: pointer;
        }
      }
      .white {
        background: white;
        color: black;
        border: 1px solid black;
      }
    }
  }
}
