.miniCollabProfile {
    display: flex;
    gap: 20px;
    img {
        height: 50px;
        width: 50px;
        border-radius: 100%;
        object-fit: cover;
    }
    .about {
        display: flex;
        flex-direction: column;
        gap: 5px;
        span {
            color: black;
            font-weight: 500;
        }
        p {
            margin: 0;
            background: #f0f2f5;
            padding: 1px 0px;
            text-align: center;
            font-size: 13px;
            border-radius: 25px;
        }
    }
}

.reverse {
    flex-direction: row-reverse;
}
