.filterModal {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    .blackbg {
        // position: absolute;
        background: #000;
        height: 100vh;
        width: 100%;
        opacity: 0.2;
        z-index: -10;
        top: 0;
    }
    .filterContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        .wrapper {
            background-color: #fff;
            border-radius: 25px;
            padding: 20px 60px;
            position: absolute;
            top: 0;
            display: flex;
            flex-direction: column;
            // gap: 30px;
            right: 0;
            left: 0;
            justify-content: center;
            top: 0;
            bottom: 0;
            height: 35%;
            width: 30%;
            margin: auto;
            span {
                font-size: 18px;
            }
            .times {
                display: flex;
                align-items: center;
                gap: 20px;
                margin-top: 10px;
                p {
                    padding: 5px 10px;
                    border: 1px solid black;
                    border-radius: 25px;
                    &:hover {
                        cursor: pointer;
                        background: #759bd3;
                        color: white;
                        border: 1px solid white;
                    }
                }
                button {
                    background-color: #759bd3;
                    border: none;
                    border-radius: 20px;
                    padding: 10px 25px;
                    color: white;
                    letter-spacing: 1px;
                    font-size: 15px;
                    outline: none;
                    &:hover {
                        cursor: pointer;
                    }
                    margin: 0 auto;
                }
            }
        }
    }
}
