.postviewcard {
  display: flex;
  justify-content: space-between;
  min-width: 800px;
  align-items: center;
  .wrapperTwo {
      min-width: 600px;
      margin-right: 10px;
      display: flex;
      gap: 70px;
      .xContainer {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 5px;
          .x {
              margin: 0;
              font-size: 13px;
              font-weight: 700;
          }
          .status {
              margin: 0;
              background: #f0f2f5;
              padding: 1px 8px;
              text-align: center;
              font-size: 13px;
              border-radius: 25px;
          }
      }
  }
  .buttons {
      display: flex;
      gap: 20px;
      float: right;
      .more {
          background: #3290ff;
          border: none;
          font-size: 15px;
          padding: 5px 20px;
          border-radius: 25px;
          color: white;
          width: 150px;
          height: 40px;
      }
      .white {
          border: 1px solid black;
          color: black;
          background: white;
      }
  }
}
