.chatSingle {
  display: flex;
  // justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 20px 20px;
  background: white;
  border-radius: 25px;
  &:hover {
    cursor: pointer;
  }
  img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 100%;
  }
  .name {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    h4 {
      margin: 0;
      font-weight: 500;
    }
    p {
      font-size: 13px;
      margin: 0;
    }
  }
  .time {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    p {
      margin: 0;
    }
    .unreadCounter {
      font-size: 14px;
      background: #d9d9d9;
      padding: 2px 9px;
      border-radius: 100%;
    }
  }
}
