.homePage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  width: 100%;

  background-color: #d9def2;
  .profileLeft {
    // max-width: 200px;
    margin-top: 225px;
    .createpost {
      margin-top: 0;
    }
  }
  .left {
    // width: 17%;
  }
  .center {
    flex-grow: 1;
    max-width: 750px;
  }
  .right {
    width: auto;
    // min-width: 250px;
    max-width: 420px;
    margin-top: 225px;
  }
}
