.homePage {
  display: flex;
  flex-direction: row;
  // align-items: center;
  justify-content: space-evenly;
  width: 100%;

  background-color: #d9def2;
  .profileLeft {
    width: 200px;
    margin-top: 225px;
    .createpost {
      margin-top: 0;
    }
  }
  .left {
    width: 17%;
  }
  .center {
    width: 53%;
  }
  .right {
    width: 25%;
    margin-top: 225px;
  }
}
