.titleInput {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100%;

  h5 {
    margin: 0;
  }

  input {
    border-radius: 10px;
    height: 25px;
    padding: 30px 30px;
    outline: none;
    border: none;
    background-color: #ebebeb;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 15px;
  }
}
