.profileLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
    .createpost {
        background-color: #759BD3;
        border: none;
        border-radius: 20px;
        padding: 15px 25px;
        margin-top: -600px;
        color: white;
        letter-spacing: 1px;
        font-size: 15px;
        outline: none;
        &:hover {
            cursor: pointer;
        }
    }
    .logout {
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        border: none;
        gap: 20px;
        margin-top: 30px;
        span {
            font-size: 18px;
        }
        &:hover { 
            cursor: pointer;
        }
    }
}
.highlighted {
    background-color: #fff;
}