.profileLeft {
  position: sticky;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 100px;
  background-color: #d9def2;
  padding: 20px;

  .createpost {
    background-color: #759bd3;
    border: none;
    border-radius: 20px;
    padding: 15px 25px;
    color: white;
    letter-spacing: 1px;
    font-size: 14px;
    outline: none;
    cursor: pointer;
  }

  .logout {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    padding: 0;
  }

  .logout span {
    font-size: 14px;
    cursor: pointer;
    /* No need to use :hover for cursor, it's a button */
  }
}

/* Add a class to highlight the selected item */
.highlighted {
  background-color: #fff;
}
