.post {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  min-height: 300px;
  border-radius: 25px;
  justify-content: space-between;
  width: 100%;

  .user {
    display: flex;
    justify-content: space-between;

    .userAboutContainer {
      display: flex;
      gap: 20px;

      h3 {
        margin: 0;
      }

      .pfp {
        height: 50px;
        object-fit: cover;
        width: 50px;
        border-radius: 50px;
      }

      .userAbout {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 10px;

        .tilesContainer {
          display: flex;
          gap: 20px;
        }
      }
    }

    .bookmark {
      height: 20px;
      padding: 15px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #f5f7f6;
    padding: 10px;
    min-height: 200px;
    width: auto;
    border-radius: 25px;
    margin-top: 20px;
    height: auto;

    .custom-modal {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      z-index: 100;
      backdrop-filter: blur(8px);
      transition: background 0.3s ease;
    }

    .modal-content {
      position: relative;
      background: #fff;
      padding: 30px;
      border-radius: 15px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
      max-width: 600px;
      width: 90%;
      text-align: center;
    }

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 24px;
      color: #ff5a5a;
      cursor: pointer;
      transition: color 0.3s ease;
    }

    .close:hover {
      color: #ff0000;
    }

    .modal-content::before {
      content: "";
      position: absolute;
      top: -10px;
      left: -10px;
      right: -10px;
      bottom: -10px;
      border-radius: 15px;
    }

    .modal-content:hover {
      transform: scale(1.02);
    }

    table.postDetails {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    table.postDetails th,
    table.postDetails td {
      border: 1px solid #ddd;
      padding: 10px;
    }

    table.postDetails th {
      background-color: #f2f2f2;
      text-align: left;
    }

    .postDetails {
      background-color: #fff;
      padding: 20px;
      width: 90%;
      text-align: center;
      border-radius: 25px;
    }

    .dateandtime {
      display: flex;
      justify-content: space-between;
      width: 100%;

      p {
        font-size: 12px;
      }
    }

    .containerFooter {
      align-items: center;
      justify-content: center;
      display: flex;
      width: 100%;
      justify-content: space-between;

      p {
        color: rgba(57, 57, 57, 0.75);
        font-size: 12px;
      }

      .links {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        .collabImage {
          height: 35px;
        }

        img {
          height: 40px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.bgblue {
  box-shadow: 0px 0px 10px 2px #759bd3;
}
