.post {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    height: 300px;
    border-radius: 25px;
    justify-content: space-between;
    .user {
        display: flex;
        width: 100%;
        justify-content: space-between;
        .userAboutContainer {
            display: flex;
            gap: 50px;
            h2 {
                margin: 0;
            }
            .pfp {
                height: 50px;
                object-fit: cover;
                width: 50px;
                border-radius: 50px;
            }
            .userAbout {
                display: flex;
                align-items: start;
                flex-direction: column;
                gap: 10px;
                .tilesContainer {
                    display: flex;
                    gap: 20px;
                }
            }
        }
        .bookmark {
            height: 30px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background: #f5f7f6;
        padding: 0px 30px;
        height: 200px;
        width: 550px;
        border-radius: 25px;
        .postDetails {
            background-color: #fff;
            padding: 20px;
            width: 90%;
            text-align: center;
            border-radius: 25px;
        }
        .dateandtime {
            display: flex;
            justify-content: space-between;
            width: 100%;
            p {
                font-size: 12px;
            }
        }
        .containerFooter {
            align-items: center;
            justify-content: center;
            display: flex;
            width: 100%;
            justify-content: space-between;
            p {
                color: rgba(57, 57, 57, 0.75);
                font-size: 15px;
            }
            .links {
                display: flex;
                justify-content: space-between;
                gap: 20px;
                .collabImage {
                    height: 35px;
                }
                img {
                    height: 40px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.bgblue {
    background: #759bd3;
}
