.footer {
    height: 250px;
    width: 100%;
    margin-top: 90px;
    background-color: #D8F3EA;
    padding-bottom: 20px;
    .footerContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        h3 {
            font-weight: 400;
            color: #1C4980;
            font-size: 24px;
            letter-spacing: 2px;
            margin-bottom: 0;
        }
        p {
            color: #A9A0A0;
        }
        .email {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: -100px;
            input {
                padding: 10px 20px;
                outline: none;
                border-radius: 50px;
                width: 300px;
                height: 19px;
                border: 1px black solid;
                position: absolute;
                z-index: 10;
            }
            button {
                height: 40px;
                border-radius: 50px;
                padding-left: 200px;
                padding-right: 20px;
                // position: absolute;
                font-size: 15px;
                font-weight: 400;
                margin-left: 250px;
                border: none;
                color: white;
                background-color: #263238;
            }
        }
        .links {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            div {
                display: flex;
                gap: 10px;
                padding: 0px 30px;
                img {
                    height: 30px;
                }
            }
        }
    }
}