.userActivity {
  flex-grow: 1;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  .titleContainer {
    .titles {
      display: flex;
      gap: 20px;
      justify-content: space-evenly;
      span {
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 200;
        transition: font-weight ease-in-out;
        padding: 5px 20px;
        &:hover {
          cursor: pointer;
          font-weight: 600;
        }
      }
      .highlighted {
        font-weight: 600;
      }
    }
    .stakeholders {
      display: flex;
      justify-content: space-evenly;
      p {
        font-size: 12px;
        margin: 0;
        background: white;
        padding: 5px;
        border-radius: 25px;
        margin-top: 20px;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .activity {
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
}
