.adminCollaborations {
  display: flex;
  flex-direction: column;
  gap: 30px;
  .tabs {
    display: flex;
    gap: 80px;
    h1 {
      font-size: 18px;
      letter-spacing: 1px;
      font-weight: 200;
      transition: font-weight ease-in-out;
      padding: 5px 20px;
      &:hover {
        cursor: pointer;
        font-weight: 600;
      }
    }
    .highlighted {
      font-weight: 600;
    }
  }
  .collabContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .miniCollab {
      background: white;
      padding: 20px;
      border-radius: 25px;
    }
  }
}
