.admin-private-container {
  display: flex;
  background: #f8f9fa;
  gap: 20px;
  min-width: 100vh;
  height: auto;

  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #545bfc;
    border-radius: 0px 25px 25px 0px;

    min-height: 100vh;

    & > div {
      width: max-content;
      position: sticky;
    }

    .logo {
      margin-left: 20px;
      margin-top: 50px;
    }
  }
  .content {
    flex-grow: 1;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
