.add-project-acc-container {
  min-width: 40vw;

  .title {
    text-align: center;
    padding-bottom: 15px;
    border-bottom: rgb(241, 241, 241) 2px solid;
  }

  textarea {
    padding: 10px 20px;
    border: none;
    outline: none;
    background: #f5f7f6;
    border-radius: 5px;
    font-size: 15px;
  }
  .form-label {
    font-size: 15px;
    padding-left: 1px;
    font-family: Poppins;
    padding-top: 10px;
    width: 35%;
  }
  .form-control,
  .form-control-file {
    margin: 10px 20px;
    padding: 5px;
    border: none;
    outline: none;
    background: #f5f7f6;
    border-radius: 5px;
    flex-grow: 1;
    align-items: end;
  }

  .data_input,
  .data_file {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  .data_input_radio {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    .form-label {
      font-size: 15px;
      padding-left: 1px;
      font-family: Poppins;
      padding-top: 10px;
      width: 100%;
    }
    .radio_container {
      background: #f5f7f6;
      border-radius: 5px;
      flex-grow: 1;
      padding: 5px;

      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: space-between;

      label {
        width: 100%;
        font-size: 13px;
        margin-left: 5px;
      }
    }
  }

  .footer-buttons {
    display: flex;
    justify-content: end;
    button {
      border: none;
      padding: 10px 15px;
      color: white;
      border-radius: 15px;
      margin: 10px;
      &:hover {
        color: black;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
      &:active {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px inset;
      }
    }

    .cancel-button {
      background-color: #d37580;
    }

    .submit-button {
      background-color: #759bd3;
    }
    .page-button {
      background-color: #28853f;
    }
  }
}
