.companyProfile {
  background-color: #d9def2;
  .profileContainer {
    display: flex;
    gap: 30px;
    box-sizing: border-box;
    .profileDetails {
      margin-bottom: 20px;
      flex-grow: 1;
      margin-right: 20px;
      // max-width: 720px;
      .nameandfeedback {
        display: flex;
        align-items: center;
        gap: 50px;
        .feedbackbutton {
          padding: 10px 20px;
          background-color: #759bd3;
          border: none;
          border-radius: 25px;
          color: white;
        }
      }
    }
    .right {
      display: none;
      max-width: 20%;
      margin-right: 20px;
      margin-top: 100px;
      @media (min-width: 1500px) {
        display: block;
      }
    }
  }
}

@media (max-width: 820px) {
  .profileDetails {
    min-width: 100vw;
    overflow: hidden;

    .nameandfeedback {
      .intro {
        display: none;
      }
      .feedbackbutton {
        margin: 10px auto;
        display: none;
      }
    }

    .profile {
      .info {
        .info-container {
          padding: 5px;

          .company-info-tiles {
            max-width: max-content;
            flex-direction: column;
          }
        }
      }
    }
  }
}
