.titleWrapper {
  display: flex;
  flex-direction: column;
  // gap: 10px;
  .line {
    text-align: left;
    width: 110px;
    height: 14px;
    border-radius: 50px;
    background-color: #02c8af;
  }
  .title {
    text-align: center;
    font-weight: 600;
    font-size: 45px;
  }
}

@media (max-width: 1024px) {
  .titleWrapper {
    .line {
      height: 10px;
      width: 100px;
    }
    .title {
      font-size: 30px;
      font-weight: 700;
    }
  }
}
@media (max-width: 768px) {
  .titleWrapper {
    .line {
      height: 6px;
      width: 80px;
    }
    .title {
      font-size: 25px;
      font-weight: 700;
    }
  }
}
