.editProfile {
  display: flex;

  background: #d9def2;
  gap: 50px;
  .profileLeft {
    margin-top: 320px;
    .createpost {
      margin-top: 0;
    }
  }
  .middle {
    background: white;
    .edits {
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: start;
      margin-left: 30px;
      margin-top: 40px;
    }
  }
}
