.profile {
  background: #f3f3f3;

  border-radius: 20px;
  .feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    .achievements {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      margin-top: 20px;
      .achievements-container {
        display: flex;
        gap: 20px;
        padding-inline: 1rem;
        .placeholder {
          width: 150px;
          height: 100px;
          border-radius: 5px;
          background: #c2cbd6;
          box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.07);
        }
        @media (max-width: 820px) {
          padding-inline: 0.5rem;
          flex-wrap: wrap;
          .placeholder {
            margin: auto;
          }
        }
      }
    }
    .posts {
      margin: 50px 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      // justify-content: center;
      min-height: 400px;
      overflow-y: scroll;
      padding: 40px 50px;
      border-radius: 25px;
      // background-color: #f5f7f6;
      width: 100%;
      box-sizing: border-box;

      &::-webkit-scrollbar {
        display: none;
      }
      .postsContainer {
        // width: 80%;
        padding: 0;
      }
      .postTitle {
        display: flex;
        width: 100%;

        gap: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-bottom: rgb(156, 156, 156) solid 1px;
        margin-bottom: 20px;

        h4 {
          padding: 5px 20px;
          border-radius: 25px;
          margin: 0 0 10px 0;

          &:hover {
            background-color: #b1becd;
            cursor: pointer;
            box-shadow: 1px 1px 5px lightgray;
          }
        }
      }

      .feedbacksContainer {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;

        .feedbacks {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          margin: auto;
          justify-content: center;
        }

        .btn-add-feedback {
          border: none;
          background: white;
          color: inherit;
          text-decoration: none;
          width: fit-content;
          margin: auto;
          padding: 0;
          border-radius: 50px;
          padding-left: 25px;
          padding-right: 25px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          &:hover {
            background-color: #b1becd;
          }

          h4 {
            margin: 8px;
            font-weight: 600;
          }
        }
      }
      .selected {
        background-color: white;
        cursor: pointer;
        box-shadow: 1px 1px 5px lightgray;
      }
      .post-placeholder {
        width: 850px;
        border-radius: 20px;
        background: #dbe6f3;
        box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.25);
        height: 467px;
        flex-shrink: 0;
      }
      .project-accomplishments {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        .btn-add-project-acc {
          border: none;
          background: white;
          color: inherit;
          text-decoration: none;
          width: fit-content;
          margin: auto;
          padding: 0;
          border-radius: 50px;
          padding-left: 25px;
          padding-right: 25px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          &:hover {
            background-color: #b1becd;
          }

          h4 {
            margin: 8px;
            font-weight: 600;
          }
        }
        .accomplishments {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          margin: auto;
          justify-content: center;
        }
      }
    }
  }
}

@media (max-width: 820px) {
  .profile {
    .feed {
      .achievements {
        .achievements-container {
          flex-wrap: wrap;
          .placeholder {
            margin: auto;
          }
        }
      }
      .posts {
        padding: 5px;
        .postsContainer {
        }
        .postTitle {
          gap: 5px;
          h4 {
            font-size: 14px;
          }
        }

        .feedbacksContainer {
          display: flex;
          gap: 20px;
          flex-wrap: wrap;
          flex-direction: column;
          width: 100%;

          .feedbacks {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin: auto;
            justify-content: center;
          }

          .btn-add-feedback {
            border: none;
            background: white;
            color: inherit;
            text-decoration: none;
            width: fit-content;
            margin: auto;
            padding: 0;
            border-radius: 50px;
            padding-left: 25px;
            padding-right: 25px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            &:hover {
              background-color: #b1becd;
            }

            h4 {
              margin: 8px;
              font-weight: 600;
            }
          }
        }
        .selected {
          background-color: white;
          cursor: pointer;
          box-shadow: 1px 1px 5px lightgray;
        }
        .post-placeholder {
          width: 850px;
          border-radius: 20px;
          background: #dbe6f3;
          box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.25);
          height: 467px;
          flex-shrink: 0;
        }
        .project-accomplishments {
          display: flex;
          gap: 20px;
          flex-wrap: wrap;
          flex-direction: column;
          width: 100%;
          .btn-add-project-acc {
            border: none;
            background: white;
            color: inherit;
            text-decoration: none;
            width: fit-content;
            margin: auto;
            padding: 0;
            border-radius: 50px;
            padding-left: 25px;
            padding-right: 25px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            &:hover {
              background-color: #b1becd;
            }

            h4 {
              margin: 8px;
              font-weight: 600;
            }
          }
          .accomplishments {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin: auto;
            justify-content: center;
          }
        }
      }
    }
  }
}
