.Notifications {
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: absolute;
    top: 100px;
    right: 50px;
    width: 500px;
    box-shadow: 1px 5px 10px gray;
    background: white;
    border-radius: 25px;
    min-height: 200px;
    gap: 20px;
    overflow-y: scroll;
    .notification {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 10px;
        min-height: 80px;
        background-color: #f5f7f6;
        padding: 5px 20px;
        border-radius: 25px;
        &:hover {
            cursor: pointer;
        }
        .leftn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .about {
                .pfp {
                    display: flex;
                    gap: 10px;
                    .pic {
                        height: 50px;
                        border-radius: 50%;
                    }
                    .details {
                        display: flex;
                        flex-direction: column;
                        span:nth-child(1) {
                            font-weight: 600;
                        }
                        span:nth-child(2) {
                            font-size: 13px;
                        }
                    }
                }
            }
            .message {
                p {
                    font-size: 15px;
                    text-align: start;
                    margin-top: 20px;
                }
            }
        }
        .rightn {
            p {
                font-size: 12px;
                color: blue;
            }
        }
    }
    .seen {
        background-color: white;
        border: 1px solid #dadada;
    }
}
