.collab {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 700px;
  background: #f5f7f6;
  border-radius: 25px;
  padding: 20px 30px;
  h3 {
    text-align: center;
  }
  .companyNames {
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
