.collab {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 700px;
    background: #f5f7f6;
    border-radius: 25px;
    margin-bottom: 80px;
    padding: 20px 30px;
    h1 {
        text-align: center;
    }
    .companyNames {
        // overflow-x: scroll;
        overflow-y: scroll;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
}
