.profileLinks {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  margin: 0 15px;
  padding: 15px 20px;
  width: 180px;
  font-size: 14px;

  .img {
    height: 20px;
  }
  .linkText {
    text-align: center;
  }
  &:hover {
    cursor: pointer;
  }
  &:hover {
    background: rgb(245, 245, 245);
    border-radius: 25px;
  }
}
.highlighted {
  background: white;
  border-radius: 25px;
  border: none;
}
