nav.protected-navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  background-color: #d9def2;
  h3 {
    margin: 0;
  }

  .icons {
    display: flex;
    gap: 40px;
    align-items: center;

    .notification-container {
      position: relative;
      display: flex;
      align-items: center;
      gap: 10px;
      svg {
        font-size: 24px;
        margin: auto;
        cursor: pointer;
      }
    }
  }
}

.protected-navbar-drawer {
  .profileLeft {
    background-color: white;
    position: static;
    margin: 0;
    margin-bottom: 20px;
    align-items: start;
    padding: 0;
    display: flex;
    .profileLinks {
      margin: 0;
    }
  }

  .homeRight {
    & > div {
      border: rgb(223, 223, 223) solid 2px;
    }
  }
}
