nav.protected-navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  background-color: #d9def2;
  // border: none;

  @media (min-width: 821px) {
    display: none;
  }

  h3 {
    margin: 0;
  }

  .icons {
    display: flex;
    gap: 40px;
    align-items: center;

    .notification-container {
      position: relative;
      .notifcount {
        position: absolute;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        background-color: red;
        display: flex;
        justify-content: center;
        text-align: center;
        top: -5px;
        right: -5px;
        color: white;
        font-size: 12px;
        font-weight: 500;
      }
    }

    img {
      height: 30px;
    }
  }
}

.protected-navbar-drawer {
  .profileLeft {
    background-color: white;
    position: static;
    margin: 0;
    align-items: start;
    padding: 0;
    display: flex;
    .profileLinks {
      margin: 0;
    }
  }
}
