.forgot-password {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 30vw;

  input,
  textarea,
  select {
    padding: 10px 20px;
    border: none;
    outline: none;
    background: #f5f7f6;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom: 10px;
    .img {
      display: flex;
      align-items: center;
      gap: 10px;
      img {
        height: 30px;
      }
      span {
        font-size: 13px;
      }
    }
  }
}
