.feedbackCardAgain {
    background: white;
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    // align-items: center;
    margin-top: 20px;
    border-radius: 25px;
    .feedbackprofile {
        display: flex;
        // flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
        .pfp {
            height: 50px;
            width: 50px;
            object-fit: cover;
            border-radius: 100%;
        }
        .about {
            display: flex;
            flex-direction: column;
            gap: 10px;
            h4 {
                margin: 0;
                font-size: 18px;
                letter-spacing: 1px;
            }
        }
    }
    .feedbacktext {
        padding: 20px;
        text-align: center;
        background: #f5f7f6;
        margin-top: 20px;
        border-radius: 25px;
    }
}
