.tile {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  border-radius: 5px;
  padding: 5px 8px;

  .img {
    height: 17px;
  }
  .linkText {
    text-align: center;
    font-size: 13px;
  }
}

.highlighted {
  border: 1px solid black;
}

.bg-lightblue {
  background: #d5e8ed;
}
