.tile {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 5px 20px;
    // width: 200px;
    .img {
        height: 20px;
    }
    .linkText {
        text-align: center;
        font-size: 15px;
    }
}

.highlighted {
    border: 1px solid black;
}
