.tagsContainer {
  background-color: #d9def2;
  border-radius: 25px;
  padding: 20px 10px;
  width: max-content;
  margin: 10px 0;
  min-width: 50%;
  max-width: 90vw;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;

    h4 {
      margin: 0;
      padding: 0;
      font-weight: 500;
    }

    .addTags {
      display: flex;
      gap: 10px;
      align-items: center;
      input {
        border-radius: 10px;
        width: 80px;
        padding: 10px;
        outline: none;
        border: none;
        background-color: #ebebeb;
        letter-spacing: 1px;
        // color: #868686;
        font-weight: 400;
        font-size: 14px;
      }
      button {
        background-color: #759bd3;
        border: none;
        border-radius: 50px;
        padding: 10px;
        color: white;
        letter-spacing: 1px;
        font-size: 12px;
        outline: none;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .tagsWrapper {
    display: flex;
    gap: 10px;
    min-width: 400px;
    overflow-x: auto;

    @media (max-width: 820px) {
      width: auto;
    }

    .no-keywords {
      width: 100%;
      text-align: center;
      margin: 10px 0;
      font-size: 14px;
    }

    .tag {
      margin: 0;
      display: flex;
      align-items: center;
      gap: 15px;
      background: white;
      padding: 5px 20px;
      border-radius: 25px;
      font-size: 15px;
      p {
        margin: 0;
      }
      .x {
        background: #d9def2;
        border-radius: 100%;
        padding: 1px 5px;
        color: red;
        font-size: 10px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
