.search-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 10px;
  
  .title {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    gap: 1rem;

    .imgs {
      display: flex;
      gap: 40px;

      .notification-container {
        position: relative;
        .notifcount {
          position: absolute;
          height: 20px;
          width: 20px;
          border-radius: 100%;
          background-color: red;
          display: flex;
          justify-content: center;
          text-align: center;
          top: -5px;
          right: -5px;
          color: white;
          font-size: 12px;
          font-weight: 500;
        }
      }

      img {
        height: 30px;
      }
    }
  }
  .inputContainer {
    display: flex;
    gap: 20px;
    position: relative;
    .input {
      width: 400px;
      border-radius: 25px;
      background-color: #fff;
      display: flex;
      align-items: center;
      padding-left: 20px;
      input {
        border: none;
        padding: 10px 50px 10px 20px;
        border-radius: 25px;
        outline: none;
        font-size: 15px;
      }
    }
    img {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
