.profileHeader {
  height: auto;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  .coverimg {
    width: 100%;
    height: 200px;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    img {
      box-shadow: rgba(0, 0, 0, 0.03) 0px 4px 20px;
      object-fit: fill;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      width: 100%;
      height: 250px;
    }
  }

  .info {
    display: flex;
    .info-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 45px;
      width: 100%;
      .pfp-text {
        display: flex;
        flex-direction: column;
        width: 100%;
        .pfp {
          border-radius: 5px;
          height: 100px;
          width: 100px;
          margin-left: 30px;
          object-fit: cover;
          border: rgb(243, 243, 243) 1px solid;
        }
        .company-info {
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 10px 0;
          .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            overflow: visible;
          }
          h3 {
            margin: 0;
            font-weight: 500;
            font-size: 22px;
          }
          .description {
            margin: 0;
            font-size: 14px;
          }
          .company-info-tiles {
            display: flex;
            gap: 10px;
            // margin: 10px 0;
          }
        }
        .company-about {
          max-width: 700px;
          p {
            padding: 0;
            margin: 0;
          }
          .description {
            width: 80%;
          }
          p:first-child {
            margin-bottom: 10px;
            font-size: 14px;
          }
        }
      }
    }
  }
}
