.profileHeader {
  height: auto;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  .coverimg {
    width: 1100px;
    height: 160px;
    img {
      object-fit: cover;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      width: 1100px;
      height: 200px;
    }
  }

  .info {
    .info-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 45px;
      .pfp-text {
        display: flex;
        flex-direction: column;
        .pfp {
          border-radius: 50%;
          height: 100px;
          width: 100px;
          margin-left: 30px;
          object-fit: cover;
        }
        .company-info {
          display: flex;
          align-items: center;
          gap: 50px;
        }
        .company-about {
          width: 700px;
          p {
            padding: 0;
            margin: 0;
          }
          p:first-child {
            margin-bottom: 10px;
            font-size: 14px;
          }
        }
      }
    }
  }
}
